@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: cadetblue;
}
img {
    max-width: 100%;
    display: block;
}

.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.menu {
    display: flex;

}

.menu li {
    margin-left: 10px; 
}

.menu li > a {
    display: block;
    padding: 5px;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
}
.flex div {
    flex: 1 1 200px;
    margin: 10px;
}
div p {
    text-align: center;
    padding: 5px;
    text-decoration: underline;
}