@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100%;
    background-color: lightgrey;
}
header {
    background-color: #000000;
    color: white;
    font-family: 'Passion One', sans-serif;
    font-size: 5vw;
    font-style: center;
    text-align: center;
}
header h1{
    font-variant: small-caps; /*deixa as primeiras letras destacadas*/
    padding-top: 50px !important;
}
header > p {
    font-size: 0.3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    padding-bottom: 50px;
   
}
body{
    font-family: 'Sriracha', cursive;
    padding: 10px;
}
section {
    padding: 20px;
    font-size: 3vw;
    line-height: 2em;
}
#image01 {
    background-image: url('desafio_cordel/imagens/background001.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    color: white;
    text-shadow: 1px 1px black;
}
#image02 {
    background-image: url('desafio_cordel/imagens/background002.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
}
#image02 > p {
    background-color: rgba(0, 0, 0, 0.263);
    width: 40%;
    color: white;
    text-shadow: 1px 1px black;
    
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
a {
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: currentColor;
}